
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width:100%;
}

// Для высоты страницы 100% и размещения футера стабильно внизу страницы
// Где $footer-height это переменная высоты футера
.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto (-$footer-height);
}

.push {
    height: $footer-height; /* .push must be the same height as .footer */
}

.footer {
    width: 100%;
    margin: auto auto auto auto;
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    height: $footer-height;
    text-align: center;
}

// Ширина сайта и его адаптация под ширину клиента
.container {
    max-width: none;
    width: 94%;
}
.page-content {
    max-width: none;
    min-width: 700px;
    padding-left:10px;
    padding-right:5px;
}
.row {
    padding-left:10px;
    padding-right:5px;
}

//в случае уменьшения ширины экрана
@media screen and (max-width: 1366px) {
    .wrapper
    {
        width: 100%;
    }
    .container {
        width:100%;
    }
    .page-content {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}



// аватар вошедшего пользователя в верхнем меню
.img-user-avatar-on-top-menu {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    //margin-right: 10px;
}

// кнопка "выйти" в верхнем меню
.button-exit-on-top-menu {
    height: 50px;
    width: 50px;
    //margin-right: -10px;
    //margin-left: 5px;
}

// нав-бар в верхнем меню
.top-navbar {
    font-size: 12pt;
}


// калькулятор величин
// кнопка выбора калькулятора:
.button-calc-unit {
    min-width: 200px;
}
